body {
    background-image: url("https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-348739.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover
  }
